.footer {
  height: 200px;
  background-color: #1d2641;
  color: white;
  font-weight: bold;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  position: fixed;
  bottom: 0;
  text-decoration: none;
}

.textfooter {
  font-family: "Times New Roman", Times, serif;
}
.text.li {
  text-decoration: none;
}
